/*
 The custom css style
*/
.body{
    background-color: beige;
}

.frame { 
    background: #fff; 
    padding: 0px 20px; 
    margin: 20px auto; 
    width: 85%;
}

.head { 
    background: rgb(195, 221, 187); 
    padding: 20px 20px; 
    margin: 20px auto; 
    width: 75%;
    color: #fff !important;
}

.navigation a { 
    padding: 20px 20px; 
    margin: 20px auto; 
    width: 75%;
    color: red;
}